* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

.content {
    max-width: 1240px;
    padding: 20px;
    margin: 0 auto;
}

header {
    background-color: hsl(217, 28%, 15%);
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

header .content nav a {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    opacity: 0.7;
}

header .content nav a:hover {
    opacity: 1;
    text-decoration: underline;
}

header .content nav a:first-child {
    margin-left: 0;
}

.hero {
    background-color: hsl(217, 28%, 15%);
    background-image: url('/images/bg-curvy-desktop.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 0 160px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    text-align: center;
}

.hero .content h1 {
    font-size: 36px;
    margin: 32px 0;
}

.hero .content p {
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
}

.hero .content button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    padding: 16px 72px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    filter: none;
    transition: filter 0.4s;

    margin-top: 32px;
}

.hero .content button:hover {
    filter: brightness(115%);
}


main {
    background-color: hsl(218, 28%, 13%);
}

section.pros {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
}

section.pros .pro {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.pros .pro img {
    height: 70px;
}

section.pros .pro h4 {
    font-size: 20px;
    margin: 20px 0 16px;
}

section.pros .pro p {
    max-width: 60%;
    font-size: 14px;
    line-height: 20px;
}

section.productive {
    display: flex;
    margin: 120px 0;
    align-items: center;
}

section.productive >div {
    padding-left: 40px;
}

section.productive >div h2 {
    max-width: 350px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
}

section.productive >div span {
    display: flex;
    align-items: center;
    width: max-content;
    height: 20px;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    cursor: pointer;
}

section.productive >div span img {
    margin-left: 8px;
}

section.productive >div span:hover {
    color: white;
    border-bottom: 1px solid white;
}

section.testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 40px;
    position: relative;
    margin-bottom: 100px;
}

section.testimonials .testimonial-card {
    background-color: hsl(219, 30%, 18%);
    padding: 40px 20px 20px;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}

section.testimonials .testimonial-card >p {
    line-height: 22px;
}

section.testimonials .testimonial-card .sign {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

section.testimonials .testimonial-card .sign img {
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

section.testimonials .testimonial-card .sign >div {
    font-size: 13px;
}

section.testimonials .testimonial-card .sign >div p:first-child {
    font-weight: 700;
}

section.testimonials .testimonial-card .sign >div p:last-child {
    opacity: 0.8;
}

section.testimonials .quotes {
    position: absolute;
    z-index: 1;
    top: -35px;
    left: -10px;
}

.early-access {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);

    position: relative;
    z-index: 3;
    transform: translateY(80px) ;
}

.early-access h3 {
    font-size: 28px;
    margin-bottom: 24px;
}

.early-access p {
    text-align: center;
    max-width: 600px;
    margin-bottom: 24px;
}

.early-access >div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.early-access >div input {
    width: 400px;
    padding: 16px 30px;
    border: 0;
    border-radius: 30px;
    margin-right: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.early-access >div ::placeholder {
    color:rgba(0, 0, 0, 0.2);
}

.early-access button {
    padding: 16px 30px;
    border: 0;
    border-radius: 30px;
    background-color: white;
    background-image: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.4);
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    max-width: max-content;
    cursor: pointer;
    opacity: 1;
    filter: none;
    transition: filter 0.4s;
}

.early-access button:hover {
    filter: brightness(115%);
}

footer {
    width: 100vw;
    background-color:hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

footer .footer-logo {
    max-width: 1260px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    padding-top: 150px;
}

footer .footer-logo img {
    max-width: 50%;
}

footer .footer-content {
    max-width: 1260px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 80px;
}

footer .footer-content .footer-address {
    max-width: 330px;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}

footer .footer-content .footer-address img:first-child {
    margin-top: 4px;
    align-self: flex-start;
}

footer .footer-content .footer-contact {
    max-width: 330px;
    height: max-content;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

footer nav {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 100px;
    row-gap: 16px;
}

footer nav a {
    text-decoration: none;
    color: white;
    transition: color 0.4s;
}

footer nav a:hover {
    color: hsl(176, 68%, 64%);
}

footer .footer-content .social-midia {
    display: flex;
    justify-content: flex-end;
}

footer .footer-content .social-midia .midia {
    margin-left: 16px;
    border: 1px solid white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

footer .footer-content .social-midia .midia i {
    font-size: 16px;
}

footer .footer-content .social-midia .midia:hover {
    color: hsl(176, 68%, 64%);
    border-color: hsl(176, 68%, 64%);
}

footer .footer-attribution .attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
}

footer .footer-attribution .attribution a { 
    color: hsl(176, 68%, 64%);
    text-decoration: none; 
}

footer .footer-attribution .attribution a:hover {
    opacity: 0.7;
}

@media (max-width: 1024px) {
    section.productive {
        flex-direction: column;
    }

    section.productive img {
        max-width: 85vw;
    }
    
    section.productive >div {
        margin-top: 60px;
        padding-left: 0;
    }

    
    section.productive >div h2 {
        max-width: 100%;
        font-size: 26px;
    }

    .early-access h3 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    header .content img {
        max-width: 120px;
    }

    header .content nav a {
        margin-left: 20px;
    }

    .hero {
        background-image: url('/images/bg-curvy-mobile.svg');
        padding-bottom: 0;
    }

    .hero .content h1 {
        font-size: 28px;
    }

    .hero .content p {
        font-size: 14px;
    }

    .hero .content img {
        max-width: 90vw;
    }

    section.pros {
        margin-top: 160px;
    }

    section.pros .pro {
        width: auto;
    }

    section.productive >div h2 {
        font-size: 22px;
    }

    section.testimonials {
        max-width: 350px;
        margin: 0 auto;
        flex-direction: column;
        row-gap: 40px;
    }

    .early-access >div {
        width: 80vw;
        flex-direction: column;
    }

    .early-access h3 {
        font-size: 22px;
    }

    .early-access >div input {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 420px;
        width: 100%;
    }

    .early-access button {
        max-width: 420px;
        width: 100%;
    }

    footer .footer-logo {
        padding-left: 40px;
    }

    footer .footer-content {
        flex-direction: column;
        padding: 20px 40px;
    }

    footer .footer-content .footer-address {
        margin-bottom: 20px;
    }

    footer .footer-content .footer-contact {
        margin-bottom: 40px;
    }

    footer nav {
        grid-template-columns: max-content;
    }

    footer nav span:nth-child(1) {
        order: 1;
    }

    footer nav span:nth-child(2) {
        order: 5;
        margin-top: 40px;
    }

    footer nav span:nth-child(3) {
        order: 2;
    }

    footer nav span:nth-child(4) {
        order: 6;
    }

    footer nav span:nth-child(5) {
        order: 3;
    }

    footer nav span:nth-child(6) {
        order: 7;
    }

    footer nav span:nth-child(7) {
        order: 4;
    }

    footer .footer-content .social-midia {
        align-self: center;
    }
}